body{
    padding: 20px;
}

button{
    width: 150px;
    height: 50px;
    border: black 3px solid;
    border-radius: 8px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: 1s;
}

button:hover{
    background-color: rgb(228, 228, 228);
    transition: 1s;
}